@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
/* font değiştirdik */

:root {
  --main-color: #e6e6fa;
  --black-color: #0e0e0e;
  --border: 0.1rem solid rgba(255, 255, 255, 0.4);
}
/* root en üst düzey ebeveyn öğesini temsil eder */

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box; /*bir etiketin toplam genişliğine ve yüksekliğine padding ve border'ı dahil etmemizi sağlar*/
  border: none;
  text-decoration: none;
  transition: 0.2s ease; /*geçişi yavaşlatır*/
}
html {
  font-size: 62.5%; /* 1 rem normalde 16 px ama 10 px e çevirdik */
  scroll-behavior: smooth; /*kaydırmay pürüzsüz yapar*/
}

section {
  padding: 3.5rem 7%;
}

.buton {
  margin-top: 1rem;
  display: inline-block;
  padding: 2rem 3.75rem;
  border-radius: 30rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--black-color);
  cursor: pointer;
}

/* header başlangıcı */

.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  background-color: #fff;
  width: 40rem;
  height: 5rem;
  display: flex; /*search ikonuyla search yerini yanyana attım */
  align-items: center;
  border-radius: 3rem;
  box-shadow: 0px 0px 25px 2px rgb(0 0 0 / 75%);
  transform: scaleY(0);
}
.header .search-form.active {
  transform: scaleY(1);
}
.header .search-form i {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--black-color);
}
.header .search-form input {
  width: 100%;
  text-align: center;
  background-color: transparent;
}

.header .logo img {
  height: 10rem;
  border-radius: 60rem;
  margin-top: 2rem;
  padding-bottom: 3rem;
  margin-right: 2rem;
 
}
.header {
  background-color: white;
  display: flex; /*yan yana attık hakkımızdayı falan*/
  align-items: center; /*ortaya attık hakkımızdayı falan*/
  justify-content: space-between; /*ara mesafeyi ayarladık*/
  padding: 0 6%; /*sağ sol %6 üst alt o padding*/
  margin-left:1%  ;
  margin-right: 1%;
  margin-top: 1%;
  border-radius: 30rem; /*navbar yuvarlaklaştırma*/
  position: sticky; /*scrolla beraber navbar gelmesi sağladım*/
  top: 0;
  z-index: 1000; /*her zaman navbara öncelik verir üstünü kapatmaz*/
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.6rem;
  color: var(--black-color);
}

.header .buttons button {
  cursor: pointer;
  font-size: 2.5rem;
  padding: -left 8rem;
  background-color: transparent;
}
.dropbtn {
  display: none;
}

/* header bitişi*/

/* home başlangıç */

.home .content h2 {
  font-size: 500%;
  color: rgb(0, 0, 0);
}
.home .content p {
  font-size: 300%;
  font-weight: 300;
  line-height: 1.8%;
  padding: 1% 0;
  color: rgb(255, 255, 255);
}
/* home bitiş */

/* responsive başlangıç */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  .header .logo img {
    height: 10rem;
    margin-left: 4rem;
  }
  section {
    padding: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .header .dropbtn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 95%;
    background-color: #fff;
    height: calc(100vh - 9rem);
    width: 30rem;
    box-shadow: 0px 20px 14px 0px rgb(0 0 0 / 75%);
    right: -100%;
  }
  .Hakkımızda img {
    width: 45rem;
    padding-right: 9rem;
  }
  body {
    background-size: contain;
  }
}
/* responsive bitiş */
body {
  margin: 0;
  padding: 0;
  background-image: url("images/background\ image.jpg"),
    url("images/hakkımızda\ background.jpg"),
    url("images/iletişimbackground.jpg");
  background-size: cover;

  background-repeat: no-repeat;
  height: 100vh;
}
/* saat başlangıç */

.clock {
  font-size: 300%;
  color: #333;
  margin-left: 77%;
  margin-top: -7%;
}

/* saat bitiş */

/* hakkımızda başlangıç */

.Hakkımızda h3 {
  color: brown;
  font-size: large;
  margin-bottom: 7rem;
  margin-right: 6rem;
  margin-left: 6.5rem;
  background-color: #fff;
  padding-left: 3rem;
  padding-top: 2rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
}
.Hakkımızda img {
  margin-left: 15%;
  margin-top: -4%;
}
/* hakkımızda bitiş */
/* organik blog başlangıç */
.Organikblog {
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 63px;
}
.Organikblog h3 {
  text-align: center;
  font-size: larger;
}
.Organikblog p {
  padding-left: 1%;
  font-size: larger;
}

/* organik blog bitiş */
/* iletişim başlangıç */

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact {
  background: #f9f9f9;
  padding: 25px;
  margin-top: 3rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#contact h2 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 15px;
}
.form-control {
  border: none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 5px;
  padding: 10px;
}

#contact textarea {
  height: 120px;
  max-width: 100%;
  resize: none;
}
#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;

  background: var(--main-color);
  color: #000000;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}
#contact button[type="submit"]:hover {
  background: #64007a;
  color: white;
}

/* iletişim bitiş */

/* dropdown menü başlangıç */

.dropbtn {
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding-left: 3rem;
  padding-right: 3rem;
  cursor: pointer;
  border-radius: 3rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 8rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  text-align: center;
  min-width: 149px;
  z-index: 1;
  border-radius: 3rem;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 3rem;
}

.dropdown-content a:hover {
  background-color: rgba(165, 42, 42, 0.568);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}
/* dropdown menü bitiş */

/* çok yakında başlangıç */
.çokyakında {
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  background-color: rgba(250, 235, 215, 0.224);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 63px;
}
.çokyakında img {
  width: 100%;
  object-fit: cover;
  margin-top: 3%;

  height: 300px;
}
.çokyakında img:hover {
  border: solid;

  box-shadow: #000000;
}
.çokyakında h3 {
  text-align: center;
  font-size: large;
}

.h2 {
  text-align: center;
  border: solid;
  border-width: 0.2rem;
  border-radius: 2rem;
  margin-bottom: 3rem;
}
.h2:hover {
  color: white;
  background-color: rgb(17, 83, 17);
}
/* çok yakında bitiş */
/* çok satanlar başlangıç */
.çoksatanlar {
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  background-color: rgba(250, 235, 215, 0.136);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 63px;
}
.çoksatanlar img {


  margin-top: 3rem;

}
.box-container .box .box-head p{
  font-size: 3rem;
  margin-top: -2rem;
  text-align: center;
}


/* çok satanlar bitiş */


/* dropdownnav başlangıç */
.dropdownnav {
  position: relative;
  display: inline-block;
}

.dropdownnav-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  text-align: center;
  z-index: 1;
  border-radius: 3rem;
}

.dropdownnav-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 3rem;
}

.dropdownnav-content a:hover {
  background-color: rgba(165, 42, 42, 0.568);
}

.dropdownnav:hover .dropdownnav-content {
  display: block;
}

/* dropdownnav bitiş */

/*  ürünler başlangıç */
.ürün .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.ürün .box-container .box {
  padding: 3rem;
  background-color: white;
  border-radius: 3rem;
  min-height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.ürün .box-container .box .box-head img {
  width: 130%;
  height: 90%;
 padding-right: 30%;

 
}
.ürün  h1 {
  font-size: 5rem;
  padding: 1rem;

}
.ürün .box-container .box h2 {
  text-align: center;
  font-size: 3rem;
}

/*  ürünler bitiş */





  
